@charset "utf-8";

/* 기존 css 부분 */
main {display:block; width:995px; min-height:100%; margin: 30px auto 0;} /* 검색 내용영역 가로해상도는 이부분 넓이값을 조정하면 됨_기존 995픽셀, 신규 1220픽셀 */
.h1 {color:#222222; font-size:30px; margin-bottom:50px;}
.border-head .excerpt {font-size:13px; margin-bottom:30px;}

/** 상단검색폼 레이어 **/

/*최근검색레이어*/
.search_latest{display: none;position: absolute;border:1px solid #5c5c5c;right:0;width:447px;box-sizing:border-box;background: #fff;z-index:20;color:#444;transition:width .3s;z-index:102;}
.search_latest > strong{display: block;background: #fafafa;border-bottom:1px solid #dedede;font-size: 14px;padding:0 17px;font-weight: 600;height: 40px;line-height: 40px;}
.search_latest_bottom{background: #fafafa;border-top:1px solid #dedede;height:40px;line-height: 40px;padding:0 17px;}

.search_latest .search_ls_word{padding:17px;}

.search_l_help,
.search_l_hisbtn,
.search_l_hisoff{font-size: 13px;}
.search_l_hisbtn,
.search_l_hisoff{border:0;padding:0;background: none;cursor:pointer;color:#444;height:auto !important;width:auto !important; background:none !important; float:none !important;}
.search_l_help{float: right;}
.search_l_help::after{content: '';background: url(../images/search/search_icon_help.png) center no-repeat;width: 19px;height: 19px;display: inline-block;background-size:19px;vertical-align: middle;margin-top: -2px;margin-left: 4px}
.search_l_line{display: inline-block;width: 1px;height: 10px;background: #d9d9d9;vertical-align: middle;margin:0 5px;}

/*검색도움말modal*/
.lay_modal{position: fixed;z-index:10000;left: 0;right: 0;top: 0;top: 0;bottom: 0;overflow-y:scroll;padding:60px 30px;display: none;line-height: 1.4em;background:rgba(0,0,0,.7);}
.lay_modal > div{display:table;width: 100%;height: 100%;table-layout:fixed;}
.lay_modal > div > div{display:table-cell;vertical-align: middle;}
.lay_modal_container{border:1px solid #127cc3;box-sizing:border-box;margin:0 auto;background: #fff;max-width:900px;position: relative;}
.lay_modal_container > h2{background: #0d79c2;font-size: 18px;color: #fff;padding: 12px;text-align:left}
.lay_modal_cont{padding: 20px;text-align:left;}
.lay_modal_close{background:url(../images/search/icon_close.png) no-repeat center;border:0;width: 30px;height: 30px;font-size: 0;overflow: hidden;cursor:pointer;position: absolute;right: 7px;top: 7px;}
.lay_modal_close:hover,
.lay_modal_close:focus{background-color:#133f77}
.lay_modal_checked{margin: 0;padding: 0;border:0;}
.content_tit2{font-weight: 600;font-size: 15px;background:url(../images/search/list_icon01.png) left 3px no-repeat;background-size:15px 15px;padding-left:20px;line-height: 1.5em;}
.mt05 {margin-top:5px;}
.mt20 {margin-top:20px;}
.ctable01{border-top:1px solid #6d6d6d;overflow:hidden;position: relative;}
.ctable01 table{width: 100%;left:-1px;position: relative;}
.ctable01 th,
.ctable01 td{}
.ctable01 th{background: #f9f9f9;}
.ctable01 thead th{background: #f9f9f9;padding:20px 10px;border-bottom:1px solid #cdcdcd;border-left:1px solid #ececec}
.ctable01 thead th:first-child{}
.ctable01 tbody th,
.ctable01 tbody td{padding:15px 10px;border-bottom:1px solid #ececec;}
.ctable01 tbody td{border-left: 1px solid #ececec;}
.ctable01 tbody tr > *:first-child{}
.ctable01 tbody tr th{border-left:1px solid #ececec;}
.ctable01.opt_bthn tbody th{background: none;font-weight: normal;}
.ctable01.opt_p_tb9 tbody td{padding:9px 10px;}


/*검색보조기능레이어*/
.search_quick_result{display: none;position: absolute;border:1px solid #5c5c5c;right:0;width:890px;box-sizing:border-box;background: #fff;z-index:20;color:#444;transition:width .3s;}
.search_quick_result > div{float: left;border-left:1px solid #e5e5e5;box-sizing:border-box;}
.search_quick_result > div > strong{display: block;background: #fafafa;border-bottom:1px solid #dedede;font-size: 14px;padding:0 17px;font-weight: 600;height: 40px;line-height: 40px;}

.search_qr_cont{/* padding:15px; */padding-right:0;padding-bottom: 0;position: relative;}
/* .search_qr_cont_scroll{height:150px;max-height:150px;} */

.search_quick_result .search_hot{width:25%;}
.search_quick_result .search_autocom .search_qr_cont_scroll{height:150px;max-height:150px;}
.search_quick_result .search_autocom{width:30%;}
.search_quick_result .search_spot{width:45%;}

.sr_key_point{color: #e28633;font-weight: bold;}

.search_hot{}
.search_hot ul{}
.search_hot li{margin: 5px 0 7px;padding-left:10px;font-size: 14px;}
.search_hot li:first-child{margin-top: 0;}
.search_hot li a{display: block;color: #444444;}
.search_hot li a span{display: inline-block; color:#019bd8; font-weight:600;}

.search_ls_word{}
.search_ls_word li:first-child{margin-top: 0;}
.search_ls_word li{margin: 5px 0 7px;}
.search_ls_word a{font-size: 16px;}
.search_ls_word a:hover{font-weight: bold;}
.search_ls_alert{text-align: center;color: #444;padding:10px 0 20px 0;}
.search_ls_alert > i{width: 26px;height: 26px;font-size:0;background:url(/images/inc/search_icon_alert.gif);display: inline-block;}
.search_ls_alert > strong,
.search_ls_alert > span{display: block;margin-top: 12px;}
.search_ls_alert > strong{font-size: 14px;}
.search_ls_alert > span{font-size: 13px;}

.search_ls_spot:first-child {border-top:none; padding:0;}
.search_ls_spot {border-top:1px dotted #dedede; margin-bottom:14px; overflow:hidden; padding-top:14px;}
.search_ls_spot dt {float:left; font-size:13px;}
.search_ls_spot dt a{display:block; border:1px solid #cacaca; color:#019bd8;}
.search_ls_spot dd {float:right; margin-right:10px; margin-bottom:14px; width:250px; font-size:14px; color:#444;}
.search_ls_spot a {color:#444444;}

.keyword_del{padding:7px;display: inline-block;box-sizing: border-box;line-height: 0;}
.search_quick_result .search_latest_bottom{width: auto;float: none;clear: both;padding-right: 5px;}
.search_l_close{float: right;background: none;border:0;display: inline-block;cursor:pointer;height: 40px; margin-right:12px;}



/** 검색결과 페이지 **/
.search_wrap {margin-bottom:40px;}

.result_search{margin-top: 30px;}
.result_search_warp{display: inline-block;}

.result_search_box{background: #fafafa;border:1px solid #ebebeb;padding:25px;text-align: center;}
.result_search_frm:after{content: '';display: block;clear: both;}

.result_search_frm form{display: inline-block;position: relative;}
.result_search_frm .search_text_bar .all_search_type,
.result_search_frm .search_text_bar input{vertical-align: middle; border:none;}

.result_search_frm .all_search_extend{top:47px;right:264px;text-align:left;}

.result_search_frm .all_search_type{float:left; width:150px;box-sizing:border-box;line-height: 0;overflow:hidden;/*background:url(../images/search/select_box2.gif) right 10px center no-repeat;vertical-align: top;*/}
.result_search_frm .all_search_type select{line-height:38px; height:38px;border:0;background:none;padding:0 10px;width:100%;color: #777777;vertical-align: top;display: inline-block;}

.result_search_frm .search_text_bar {float:left; position:relative; margin-right:10px; width:532px; border:1px solid #0296d1;display:inline-block; background: #fff;}
.result_search_frm .search_text_bar .all_search_text{float:right; padding-left:10px; padding-right:30px; height: 38px; line-height:38px; width: 380px;vertical-align: top;display: inline-block; box-sizing:border-box;}

.result_search_frm .all_search_btn{float:left; margin-right:10px; border:1px solid #04a2e1;height:40px;line-height: 38px;background: #04a2e1;color: #fff;vertical-align: middle;display: inline-block;cursor:pointer;width:75px;text-align: center;font-weight: 600;}
.result_search_frm label{cursor:pointer;}

.result_search_frm .serach_btn_extend_open{display: inline-block;position: relative;height:40px;width:47px;vertical-align: middle;margin-left: 2px;}

.result_search_frm .search_in_search{position:relative; float:left; display:inline-block; margin-bottom:0; margin-left: 7px;line-height: 40px; text-indent:0; visibility:visible; font-weight:normal;}

.result_search_frm .search_text_bar a.btn_auto {float:none; position:absolute; top:2px; right:10px;}

.result_search_frm .auto_complete .auto_left {margin-left:-1px; width:532px; z-index:1;}

.btn_search_help{border:1px solid #ebebeb;background: #fff;height:38px;line-height: 38px;display: inline-block;vertical-align: middle;position: relative;padding:0 15px;margin-left: 25px;}
.btn_search_help::after{content: '';background: url(/images/inc/search_icon_help.png) center no-repeat;width: 19px;height: 19px;display: inline-block;background-size:19px;vertical-align: middle;margin-top: -2px;margin-left: 4px}
.btn_search_help:hover,
.btn_search_help:focus{border-color:#4a4a4a}

.search_relation_keyword{margin-top: 13px;font-size: 14px;color:#444;text-align:left;}
.search_relation_keyword a{color:#444;}
.search_relation_keyword strong{float: left;position: relative;padding-right: 15px;}
.search_relation_keyword strong::after{content: '';position: absolute;right:0;background: #a2a2a2;width:1px;height:10px;top:50%;margin-top: -5px;}

.search_relation_keyword ul{margin-left: 60px;}
.search_relation_keyword ul li{display: inline-block;margin-left: 10px;}

.result-tab{overflow-x: auto;margin: 30px auto 20px;width: 100%;}
.result-tab .tab_list { width: auto;display: table;overflow: hidden;}
.result-tab ul li{display: table-cell;width:5%;text-align:center;border: solid 1px #d5d5d5;border-left:none;}
.result-tab ul li:first-child{border-left: 1px solid #d5d5d5;}
.result-tab ul li a{display:block;line-height:20px;height:50px;padding:5px 0;font-size:14px;font-weight: 500; text-transform: uppercase; color:#444; box-sizing:border-box;}
.result-tab ul li a span {display:block;color:#0185d1;}
.result-tab ul li.on a{background:#426096;color:#fff;border-color:#426096; font-weight:600;}
.result-tab ul li.on a span {color:#fdaa59;}

.sr_cont{margin-top: 25px;}
.sr_cont::after{content: '';display: block;clear: both;}
.sr_left_column,
.sr_right_column{float: left;}
.sr_left_column{width: calc(100% - 240px);}
.sr_right_column{width: 200px;float: right;}


.sr_left_column > div,
.sr_right_column > div{margin-top: 30px;}
.sr_left_column > div:first-child,
.sr_right_column > div:first-child{margin-top: 0;}


.sr_right_column > div:first-child{margin-top: 0;}

/* 좌측 검색결과 리스트 */
.sr_result_list_wrap{}
.sr_result_list_wrap > .sr_t_sec:first-child{margin-top: 0;}
.sr_result_list_wrap > .sr_t_sec{margin-top: 40px;border-top:1px solid #6d6d6d;position: relative; overflow:hidden;}

.sr_t_header{background: #f8f8f8;border-bottom:1px solid #e7e7e7;height: 44px;line-height: 44px;padding:0 15px;}
.sr_t_header h3{display:inline-block; margin:0; font-size:17px; font-weight:600;}
.sr_t_header span{display:inline-block; font-size:16px;margin-left:20px;}
.sr_t_header span b{color:#db343b;}

.Cmenu_Title_order {position:absolute; margin-top:0px; top:0; right:10px; font-size:14px; font-weight:normal; text-align:right;}
.Cmenu_Title_order a {display:inline-block; margin-right:5px; color:#444;}
.Cmenu_Title_order a.on {font-weight:bold; color:#000;}

.sr_result_list{border-bottom:1px solid #cccccc;}
.sr_result_list > li{clear:both; padding: 30px 15px 20px;border-top:1px dotted #cccccc; overflow:hidden;}
.sr_result_list > li > *{margin-top: 20px;}
.sr_result_list > li > *.srl_txt{margin-top: 8px;}
.sr_result_list > li > *:first-child{margin-top: 0;}
.sr_result_list > li:first-child {border-top:0; padding: 30px 15px 20px;}
.sr_result_list .srl_title {position:relative;}
.sr_result_list .srl_title:after {content:''; display:block; clear:both;}
.sr_result_list .srl_title.img {float:left;}
.sr_result_list .srl_title.img a {display:block; width:170px; height:100px; border:1px solid #cacaca; box-sizing:border-box;}
.sr_result_list .srl_title a{border-bottom:1px solid #333;font-weight: bold; color:#444; font-size:14px;}
.sr_result_list .srl_title .sr_key_point{color: #db343b;border-bottom:1px solid #db3400;}

.srl_locaion {font-size:13px;margin-top: 10px !important;}
.srl_locaion a{color: #0185d1;display: inline-block; font-size:14px;}
/*.srl_locaion a::after{content: '';width: 2px;height: 2px;top: 9px;background: #444444;position: absolute;left: 0;}*/
.srl_locaion{position: relative;}

.srl_file {margin-top: 10px !important; overflow:hidden;}
.srl_file li {position: relative; float:left; padding-left:10px; padding-right:30px;}
.srl_file li:before {position:absolute; content:''; top:7px; left:0; width:4px; height:4px; background:#c3c5ca; border-radius:50px;}
.srl_file li a { color: #0185d1; display:block; font-size:14px;}

.srl_ql_btn{border:1px solid #eaeaea;font-size:13px;height: 18px;line-height: 18px;display: inline-block;background: url(/images/inc/sarr_r.gif) right 7px center no-repeat #f3f3f3;padding:0 14px 0 7px;margin-left: 13px;color: #666666;}

.srl_txt a {color: #444444;font-size: 14px;margin-top: 6px;line-height: 22px;}
.srl_txt .sr_key_point{color: #db3400;font-weight: bold;}

.srl_date{float:right; font-size:13px;color: #666;;}

.srl_files{font-size: 14px;margin-top: 12px;margin-left: -20px;font-size: 14px;}
.srl_files li{margin-left: 20px;margin-top:5px;margin-bottom:5px;display:inline-block;height: 19px;line-height: 19px;}
.srl_files i{margin-top: -4px;}

.srl_files2{padding:22px 15px;font-size: 14px;}
.srl_files2 li{margin-top:10px;}
.srl_files2 li:first-child{margin-top: 0;}
.srl_files2 i{margin-top: -4px;}

.t_btn_more{float:right; font-size: 14px;padding: 6px 12px 7px; color:#0176ad; border:1px solid #eae9e9; margin-top:10px;}

/* 우측 인기검색어 */
.result_keyword_cont2{position: relative;}
.result_keyword_cont2 > strong{font-size: 16px;color: #444;display: block;margin-bottom: 7px;}
.result_keyword_cont2 > div{}

.result_keyword_cont2 ul ul li{position: relative;}
.result_keyword_cont2 a[tooltip]:hover ~ .tool_tip,
.result_keyword_cont2 a[tooltip]:focus ~ .tool_tip{display: block;}
.result_keyword_cont2 .tool_tip{position: absolute;right:0;top:-25px;background: rgba(255,255,255,.97);border:1px solid #cecece;border-radius:3px;padding:3px 5px;font-size: 12px;white-space: nowrap;display: none;font-weight: bold;z-index:10;}

.sr_rank_box {border-bottom:1px solid #cecece;font-size: 14px; height:300px; position:relative; clear:both;}
.sr_rank_box:after{content:'';display: block;clear: both;}
.sr_rank_box.sr_rank_box_latest{height:auto;}
.sr_rank_Tab {overflow:hidden; padding:0 0 10px 0;}
.sr_rank_Tab .pc_title_on {width:32%; text-align: center; padding-bottom: 5px; padding-top:5px; float:left; background-color:#fff; border:1px solid #dfdfdf; border-left: none;}
.sr_rank_Tab > li:first-child > a{ border-left:1px solid #dfdfdf; }
.pc_title_out{width: 32%; text-align: center; padding-bottom: 5px; padding-top:5px; float:left; background-color:#f5f8fa; border:1px solid #dfdfdf;}
.sr_rank_Tab .pc_text_on{width:100%; position:absolute; top:37px;}
.sr_rank_Tab .pc_text_out{display:none;}
.sr_rank_box a:link{color:#333;}
.sr_rank_box a:visited{color:#333;}

.sr_rank_ls {margin:3px 0 15px;font-size:14px;}
.sr_rank_box_latest .sr_rank_ls {border-top:1px solid #cecece; padding-top:10px;}
.sr_rank_ls li {position:relative;margin-bottom:7px;}
.sr_rank_ls li a {display:inline-block;line-height:16px;color:#777;zoom:1;}
.sr_rank_ls li a:hover {color:#333;font-weight:bold;text-decoration:none;}
.sr_rank_ls li .rank_up,.sr_rank_ls li .rank_down,.sr_rank_ls li .rank_same,.sr_rank_ls li .rank_new{display:block;position:absolute;}
.sr_rank_ls li .rank_up,.sr_rank_ls li .rank_down{width:10px;padding-left:12px;font-size:12px; box-sizing:initial;}
.sr_rank_ls li .rank_same,.sr_rank_ls li .rank_new{top:0;right:0;width:24px;line-height:16px;}
.sr_rank_ls li .rank_up {top:0;right:0;line-height:16px;color:#ed6c00;background:url(../images/search/icon_rank_up.png) no-repeat left;}
.sr_rank_ls li .rank_down {top:0;right:0;line-height:16px;color:#0668b4;background:url(../images/search/icon_rank_down.png) no-repeat left;}
.sr_rank_ls li .rank_same {color:#0668b4;font-size:12px;text-align:center;}
.sr_rank_ls li .rank_new {margin-top:-1px;color:#ed6c00;font-size:11px;font-family:"NanumGothicBold";}

.sr_numbox,
.sr_numbox2,
.sr_numbox3 {width:13px; height:13px; margin-right:9px; border:1px solid #e0e0e0; font-size:11px; color:#666666;text-align:center; line-height:13px; display:inline-block; letter-spacing:-0.1em; box-sizing:content-box;}

.sr_numbox{vertical-align: middle;}
.sr_numbox2{border:1px solid #db3400;color: #db3400;}
.sr_numbox3{border:1px solid #bfbfbf;}

/* 우측 첨부파일 */
.result_keyword_cont1{position: relative;}
.result_keyword_cont1 > strong{font-size: 16px;color: #444;display: block;margin-bottom: 10px;}
.result_keyword_cont1 > div{border-top:1px solid #cecece; border-bottom:1px solid #cecece;}
.result_keyword_cont1 ul{padding:7px 0;}
.result_keyword_cont1 li{border-top:1px solid #eaeaea}
.result_keyword_cont1 li i{margin-top: -2px; margin-right:10px;}
.result_keyword_cont1 li:first-child{border-top: 0;}
.result_keyword_cont1 li a{display: block;height: 30px;line-height: 30px;position: relative;font-size: 14px;}
/*.result_keyword_cont1 li a::after{content: '';width: 2px;height: 2px;background: #444444;position: absolute;left:0;top:14px;}*/
.result_keyword_cont1 li.t_b2 a::after{width: 3px;height:1px;background: #999999;}
.result_keyword_cont1 li a strong{font-weight: normal;}
.result_keyword_cont1 li a span{float: right;}
.result_keyword_cont1 .t_fc{color: #db3400;}
.result_keyword_cont1 .t_btn_more {position:absolute;color:#666;margin:0;right:0;top:0px;background: url(/images/inc/more.gif) no-repeat right center;padding-right:12px;font-size: 14px;}
.result_keyword_cont2 .t_btn_more {position:absolute;color:#666;margin:0;right:0;top:0px;background: url(/images/inc/more.gif) no-repeat right center;padding-right:12px;font-size: 14px;}
.cicon_file1,
.cicon_file2,
.cicon_file3,
.cicon_file4,
.cicon_file5,
.cicon_file6,
.cicon_file7,
.cicon_file8{width: 18px;height: 18px;display: inline-block;vertical-align: middle;}
.cicon_file1{background-image:url(/images/search/icon_file01.gif)} /* PPT 아이콘 */
.cicon_file2{background-image:url(/images/search/icon_file02.gif)} /* DOC 아이콘 */
.cicon_file3{background-image:url(/images/search/icon_file03.gif)} /* XLS 아이콘 */
.cicon_file4{background-image:url(/images/search/icon_file04.gif)} /* HWP 아이콘 */
.cicon_file5{background-image:url(/images/search/icon_file05.gif)} /* PDF 아이콘 */
.cicon_file6{background-image:url(/images/search/icon_file06.gif)} /* JPG 아이콘 */
.cicon_file7{background-image:url(/images/search/icon_file_mp4.gif)} /* mp4 아이콘 */
.cicon_file8{background-image:url(/images/search/icon_file_zip02.gif)} /* zip 아이콘 */

/*페이징*/
.list-container .board-footer, .board-footer{text-align:center;margin-bottom:30px;}
.list-container table td.no-data,td.no-data,.no-data{text-align:center;margin:100px 0;background:url(../../img/common/icon-alert.gif) no-repeat 50% 0;padding-top:85px;font-size:15px;font-weight:bold;color:#9797A6;}
.list-container.recipe table{margin-top:20px;border-top:1px solid #FD0000;border-collapse:collapse;table-layout:fixed;}
.list-container.recipe table tbody tr:hover td{background:#F6F6F6;}
.list-container.recipe table td a.btn:hover{color:#FD0000;}
.board-footer > a.btn{margin-left:5px;}
.board-footer > a.btn:first-child{margin-left:0;}
.tab-container:after,.search-container:after,.cat-container:after,.category:after,.keyword:after,.board-footer:after,.view-container:after,.write-container:after,.write-container form .file-container:after{content:"\0020";display:block;height:0;overflow:hidden;clear:both;}
/*** CSS themes for simplePagination.js */
ul.simple-pagination{list-style:none;}
.simple-pagination{overflow:hidden;padding:0 5px 5px 0;margin:0 auto;}
.simple-pagination ul{list-style:none;padding:0;margin:0;}
.simple-pagination li{list-style:none;padding:0;margin:0;float:left;}
.compact-theme a, .compact-theme span{font-family:Tahoma;float:left;color:#3686be;font-size:14px;line-height:37px;font-weight:normal;text-align:center;border:1px solid #BBB;border-left:none;min-width:14px;background:#FFF;height:37px;padding:0 15px; box-sizing:border-box;}
.recipe .compact-theme a,.recipe .compact-theme span{font-family:Tahoma;float:left;color:#FD0000;font-size:14px;line-height:37px;font-weight:normal;text-align:center;border:1px solid #BBB;border-left:none;min-width:14px;background:#FFF;height:37px;padding:0 15px;}
.compact-theme a:hover{text-decoration:none;background:#F6F6F6;}
.compact-theme li:first-child a, .compact-theme li:first-child span{border-left:1px solid #BBB;border-radius:3px 0 0 3px;}
.compact-theme li:last-child a, .compact-theme li:last-child span{border-radius:0 3px 3px 0;}
.compact-theme .current,.recipe .compact-theme .current{background:#F6F6F6;color:#414151;cursor:default; box-sizing:border-box;}
.compact-theme .ellipse{background:#FFF;padding:0 15px;cursor:default;}
.compact-theme .prev,.compact-theme .next{text-indent:-99999px;}
.compact-theme .prev{background:url(../../img/common/bt_prev.gif) no-repeat 50% 0;height:37px;padding:0 18px;}
.compact-theme .prev:hover{background:url(../../img/common/bt_prev.gif) no-repeat 50% -74px;height:37px;}
.compact-theme .prev.current{background:url(../../img/common/bt_prev.gif) no-repeat 50% -37px;height:37px;}
.compact-theme .next{background:url(../../img/common/bt_next.png) no-repeat 50% 0;height:37px;padding:0 18px;}
.compact-theme .next:hover{background:url(../../img/common/bt_next.png) no-repeat 50% -74px;height:37px;}
.compact-theme .next.current{background:url(../../img/common/bt_next.png) no-repeat 50% -37px;height:37px;}
.recipe .compact-theme .prev{background:url(../../img/common/bt_prev_2.gif) no-repeat 50% 0;height:37px;padding:0 18px;}
.recipe .compact-theme .prev:hover{background:url(../../img/common/bt_prev_2.gif) no-repeat 50% -74px;height:37px;}
.recipe .compact-theme .prev.current{background:url(../../img/common/bt_prev_2.gif) no-repeat 50% -37px;height:37px;}
.recipe .compact-theme .next{background:url(../../img/common/bt_next_2.gif) no-repeat 50% 0;height:37px;padding:0 18px;}
.recipe .compact-theme .next:hover{background:url(../../img/common/bt_next_2.gif) no-repeat 50% -74px;height:37px;}
.recipe .compact-theme .next.current{background:url(../../img/common/bt_next_2.gif) no-repeat 50% -37px;height:37px;}


/*최근 검색어 추가*/
.result_keyword_cont2.keywordList .sr_rank_ls li:after {content:''; display:block; clear:both;}
.result_keyword_cont2.keywordList .sr_rank_ls li a{display:block; float:left;}
.sr_rank_box_latest .sr_rank_ls a {display:inline-block; line-height:22px;}
.sr_rank_box_latest .sr_rank_ls .del_btn {opacity:0.3; width:22px; height:22px; line-height:21px; border:1px solid #797979; border-radius:100px; margin-left:10px; box-sizing:border-box; background:url(../images/common/btn_sr_rank_del.png) no-repeat center;}
.sr_rank_box_latest .sr_rank_ls .del_btn span {font-size:0; width:0; height:0;}

/*최근 검색어 삭제버튼 - header*/
#mykeyword .search_ls_word li:after {content:''; display:block; clear:both;}
#mykeyword .search_ls_word li a{display:block; float:left;}
#mykeyword .search_ls_word a {display:inline-block; line-height:22px;}
#mykeyword .search_ls_word .del_btn {opacity:0.3; width:22px; height:22px; line-height:21px; border:1px solid #797979; border-radius:100px; margin-left:10px; box-sizing:border-box; background:url(../images/common/btn_sr_rank_del.png) no-repeat center;}
#mykeyword .search_ls_word .del_btn span {font-size:0; width:0; height:0;}

/* 반응형 */
@media all and (max-width:1023px) {
    /* layout */
    .h1{font-size:22px; margin-bottom:48px; text-align:center;}
    .board-head .excerpt{font-size:13px;}
}